* {
    padding: 0;
    margin: 0;
   }
  body {
    background-image: url("../images/akanbeach.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
              
    }
 .Description {
    color:rgb(15, 14, 14);
    text-align: center;
    margin-right: 5.5cm;
    margin-left: 5.5cm;
    }
        
        
 .myform {
   height: 150px;
   border: 1px solid;
   width: 50%;
   margin:auto;
   margin-top: 20px;
   background-color: blue;
}
    