
        * {
            padding: 0;
            margin: 0;
        }
        body {
            background-image: url("/images/akanbeach.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            color: green;   
        }
        .Description {
            color:white;
            align-content: center;
        }
        fieldset {
            background-color: rgb(4, 4, 94);
            align-content: center;
            border: 5rem;
            padding: 5rem;
            margin: 5rem;
            width: 50%;
        }

    