
        * {
            padding: 0;
            margin: 0;
        }
        body {
            background-image: url("/images/akanbeach.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            color: green;   
        }
        .Description {
            color:rgb(15, 14, 14);
            text-align: center;
            margin-right: 5.5cm;
            margin-left: 5.5cm;
        }
        }
        fieldset {
            background-color: rgb(4, 4, 94);
            align-content: center;
            border: 5rem;
            padding: 5rem;
            margin: 5rem;
            width: 50%;
        }

    